/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* END RESET */
/* START CSS */
:root {
  font: 16px / 1 sans-serif;
}
html {
  height: 100%;
}
header {
  display: flex;
  border-bottom-color: rgba(0, 0, 0, 0.15);
  border-bottom-style: solid;
  border-bottom-width: 1px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 8px 20px 0px;
  box-sizing: border-box;
  width: 100%;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  background: #ffffff;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
nav {
  background-color: #ffffff !important;
  width: 100%;
  border: 0;
  padding: 0;
  margin: 0;
  height: auto;
  display: flex;
  box-sizing: border-box;
  flex-flow: row;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}

nav.navigation1 ul {
  background-color: #ffffff !important;
  border: 0;
  padding: 0;
  margin: 0;
  width: auto;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  box-sizing: border-box;
  align-content: stretch;
  justify-content: flex-start;
  align-items: center;
}
nav.navigation1 ul li {
  display: flex;
  flex-direction: row;
  color: #586069 !important;
  list-style: none;
  padding: 10px;
  margin: 0;
  box-sizing: border-box;
}
nav ul li a {
  display: flex;
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: #586069;
  /* font-weight: bolder; */
  font-size: 1.2rem;
  box-sizing: border-box;
}
nav ul li a:hover {
  color: #0366d6;
  text-decoration: none;
  box-sizing: border-box;
}
nav ul li a:active {
  color: #0366d6;
  font-weight: bold;
  text-decoration: none;
  box-sizing: border-box;
}
/* nav ul li a:visited {
  color: #0366d6;
  font-weight: bold;
  text-decoration: none;
  box-sizing: border-box;
} */

nav.navigation2 {
  display: flex;
  flex-direction: row-reverse;
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-size: 1.2rem;
  box-sizing: border-box;
}
nav.navigation2 ul {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-size: 1.2rem;
  box-sizing: border-box;
}
nav.navigation2 ul li {
  display: flex;
  flex-direction: row;
  color: #586069 !important;
  list-style: none;
  padding: 10px;
  margin: 0;
  box-sizing: border-box;
}
footer {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial,
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  font-size: 14px;
  line-height: 1.5;
  display: block;
  grid-template-columns: repeat(1, 1fr);
  grid-column-gap: 0;
  padding: 10px;
  border-top: 1px #e1e4e8 solid !important;
  margin-left: 24px;
  margin-right: 24px;
}
footer div p {
  color: #586069 !important;
  margin-top: 0;
  margin-bottom: 10px;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  box-sizing: border-box;
}

/* AT RULE - MEDIA TYPE - MEDIA FEATURE - OPERATOR - MEDIA FEATURE*/
/* @media screen and (min-width: 320px) and (max-width: 400px) {
  body {
    background-color: rgb(19, 114, 135);
    display: grid;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  section {
    display: grid;
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
  }
} */

/* When the browser is at least 700px and above */
@media (min-width: 600px) {
  /* body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: red;
    display: grid;
  }
  section {
    display: grid;
    max-width: 400px;
    margin: 0 auto;
  } */
  /*The fr unit (a “fraction”) can be used when defining grids like any other CSS length such as %, px or em.*/
  /*1in = 2.54cm = 96px*/
  /*1em == 16px == 0.17in == 12pt == 1pc == 4.2mm == 0.42cm*/
  /* 1vw = 1% of viewport width */
  body {
    background-color: #ffffff !important;
  }

  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  .container {
    width: auto;
    max-width: 100%;
    padding-right: 24px !important;
    padding-left: 24px !important;
    background-color: #fafbfc !important;
  }

  section {
    display: grid;
    grid-template-columns: repeat(4, 1fr) !important;
    grid-column-gap: 0;
    padding: 10px;
  }
  article {
    margin: 0;
    padding: 0;
    display: grid;
    grid-column-gap: 0;
    grid-template-rows: repeat(1, fr [col-start]);
    padding: 10px;
  }
  main {
    margin-top: 70px;
  }
  main section article > a {
    display: block;
    box-sizing: border-box;
    width: 100%;
    height: auto;
    margin-bottom: 16px;
    padding: 8px;
    border-radius: 9px;
    border: 1px solid #e1e4e8 !important;
    background-color: #fff;
    /*testing changes*/
  }

  main section article a > img.octo {
    display: grid;
    box-sizing: border-box;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    /* background-color: rgba(131, 131, 131, 0.13) !important; */
    background-color: #ffffff;
  }
  main section article ul {
    margin: 10px 0;
    padding: 0;
    width: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    flex-flow: row;
    justify-content: space-between;
  }
  main section article ul li {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial,
      sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    margin: 0;
    padding: 0;
    width: auto;
  }
  main section article ul li a {
    text-decoration: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial,
      sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    color: #343434;
    font-weight: bolder;
  }
}
/* @media (max-width: 700px) {
  body {
    background-color: rgb(12, 107, 0);
    display: grid;
    align-items: center;
    justify-content: center;
  }
  section {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 0 20px;
  }
} */

@media (min-width: 150px) and (max-width: 600px) {
  body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial,
      sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    font-size: 14px;
    line-height: 1.5;
  }
  nav.navigation2 {
    display: none;
  }
  main {
    margin-top: 70px;
  }
  .container {
    width: auto;
    max-width: 100%;
    padding-right: 24px !important;
    padding-left: 24px !important;
    background-color: #fafbfc !important;
  }
  section {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-column-gap: 0;
    padding: 10px;
  }

  section article ul li a {
    font-size: 1.2rem;
    font-weight: bolder;
    color: #586069;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial,
      sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    margin: 0;
    padding: 0;
    width: auto;
    text-decoration: none;
    box-sizing: border-box;
  }
  article {
    margin: 0;
    padding: 0;
    display: grid;
    grid-column-gap: 0;
    grid-template-rows: repeat(1, fr [col-start]);
    padding: 10px;
  }
  main section article > a {
    display: block;
    box-sizing: border-box;
    width: 100%;
    height: auto;
    margin-bottom: 16px;
    padding: 8px;
    border-radius: 9px;
    border: 1px solid #e1e4e8 !important;
    background-color: #fff;
    /*testing changes*/
  }
  main section article a > img.octo {
    display: grid;
    box-sizing: border-box;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    /* background-color: rgba(131, 131, 131, 0.13) !important; */
    background-color: #ffffff;
  }
  main section article ul {
    margin: 10px 0;
    padding: 0;
    width: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    flex-flow: row;
    justify-content: space-between;
  }
  footer {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial,
      sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    font-size: 14px;
    line-height: 1.5;
    display: block;
    grid-template-columns: repeat(1, 1fr);
    grid-column-gap: 0;
    padding: 10px;
    border-top: 1px #e1e4e8 solid !important;
    margin-left: 24px;
    margin-right: 24px;
  }
  footer div {
    margin: 10px 0;
    padding: 0;
    width: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    flex-flow: row;
    justify-content: space-between;
  }
  footer div p {
    color: #586069 !important;
    margin-top: 0;
    margin-bottom: 10px;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    box-sizing: border-box;
  }
}

/* When the browser is at least 600px and above 
@media screen and (min-width: 600px) {
  .element {
    Apply some styles
  }
}
*/

/* Viewports between 320px and 480px wide 
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .card {
    background: #bada55;
  }
}
*/
